= simple_form_for [:admin, @food_truck], html: { class: 'form-horizontal' } do |f|
  - if @food_truck.errors.any?
    #error_explanation
      %h2
        = pluralize(@food_truck.errors.count, "error")
        prohibited this food_truck from being saved:
      %ul
        - @food_truck.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :name, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.input_field :name, class: 'form-control'

  .form-group
    = f.label :tags, class: 'col-sm-2 control-label', for: :food_truck_tag_list
    .col-sm-10
      = f.input_field :tag_list, style: 'width: 100%'
      :coffee
        window.all_tags = #{@all_tags.to_json}


  .form-group
    = f.label :description, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.input_field :description, class: 'form-control', rows: 5

  .form-group
    = f.label :twitter_username, 'Twitter URL', class: 'col-sm-2 control-label'
    .col-sm-10
      = f.input_field :twitter_username, class: 'form-control'

  .form-group
    = f.label :facebook_username, 'Facebook URL', class: 'col-sm-2 control-label'
    .col-sm-10
      = f.input_field :facebook_username, class: 'form-control'

  .form-group
    = f.label :website_url, 'Website URL', class: 'col-sm-2 control-label'
    .col-sm-10
      = f.input_field :website_url, class: 'form-control'

  .row
    .col-sm-offset-2.col-sm-10
      %h4 Schedule
      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th
            %th Start Time
            %th End Time
            %th Display Address
            %th Lat/Lng
            %th
        %tbody#schedule_entries
          = f.simple_fields_for :schedule_entries do |schedule_entry|
            = render 'schedule_entry_fields', f: schedule_entry
      %p= link_to_add_association 'add schedule entry', f, :schedule_entries, :'data-association-insertion-node' => 'tbody#schedule_entries', :'data-association-insertion-method' => 'append'

  .form-group.actions
    .col-sm-offset-2.col-sm-10
      = f.button :submit, 'Submit'
      - if params[:action] == 'edit'
        %p.delete-link
          = link_to 'Delete Food Truck', admin_food_truck_path, method: :delete, data: { confirm: 'Are you sure you want to delete this food truck?' }
