<% if food_business_signed_in? %>
  <h3>Check In</h3>
  <%= form_for :check_in, url: '/checkin' do |f| %>
    <p>Drag the pin on the map to your current location.</p>
    <p>
      <%= f.label 'address' %>
    <div>{{checkInAddress}}</div>
    <%= f.hidden_field :address, value: '{{checkInAddress}}' %>
    </p>
    <%= f.label 'Duration' %>
    <%= f.select :duration, options_for_select(@time_durations), include_blank: true %>
    <p><%= f.submit 'Check In' %></p>
  <% end %>
  <hr/>
<% end %>
<%= form_for :search do |f| %>
  <%= f.text_field :search, {placeholder: 'Search', 'ng-model' => 'searchText'} %>
  <div ng-repeat="distance in distances">
    <h4>{{distance.display_text}}</h4>
    <ul>
      <li ng-repeat="truck in trucks | withinRange:distance.min:distance.max | filter:searchText">
        <a ng-click="showTruck(truck)" href="#">{{truck.name}}</a>
      </li>
    </ul>
  </div>
<% end %>
