<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SLC Food Truck Map</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css"/>
  <%= csrf_meta_tags %>
</head>
<body ng-app="food_truck_app" ng-init="user = <%= current_food_business.to_json %>" ng-controller="FoodTrucksController">
  <div class="container-fluid fill-height remove-padding">
    <div class="row-fluid fill-height">
      <div class="span3 navigation">
        <% if food_business_signed_in? %>
          <p>
            Hello, <%= link_to '{{user.name}}', edit_food_business_path(current_food_business) %>.
            <%= link_to 'Log out?', destroy_food_business_session_path, :method => :delete %>
          </p>
        <% else %>
          <p><a href="<%= new_food_business_session_path %>">Log in</a></p>
        <% end %>

        <% [:notice, :alert, :error].each do |type| %>
          <% if flash[type] %>
            <p class="<%= type.to_s %>"><%= flash[type] %></p>
          <% end %>
        <% end %>

        <h1><%= link_to 'Food Truck Map', root_path %></h1>

        <%= yield %>
      </div>
      <div class="span9 fill-height" id="map"></div>
    </div>
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular-resource.min.js"></script>
  <script src='//cdn.leafletjs.com/leaflet-0.5/leaflet.js'></script>
  <%= javascript_include_tag 'application' %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-35850859-2', 'herokuapp.com');
    ga('send', 'pageview');
  </script>

  <% if Rails.env.development? %>
    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
  <% end %>
</body>
</html>
